[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "apisensr"]
	path = apisensr
	url = https://github.com/dhaine/apisensr
[submodule "episensr"]
	path = episensr
	url = https://codeberg.org/dhaine/episensr
